@charset "utf-8";

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: normal;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: rgb(233, 168, 227);
    overflow: hidden;
}

header {
    margin-top: 8px;
    color: rgb(255, 251, 0);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    background: rgb(71, 71, 71);
}

.wrapper {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    text-align: center;
}

.game-container {
    padding: 40px 0;
}

.message-container {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

.squares-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 200px;
}

.squares-box {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px #333;
}

.square {
    position: relative;
    width: calc(196px / 3);
    height: calc(196px / 3);
    border: solid 2px #333;
    cursor: pointer;
}

.js-pen-checked::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    content: '';
    background-image: url(../img/penguins.jpg);
    background-size: contain;
}

.js-bear-checked::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    content: '';
    background-image: url(../img/whitebear.jpg);
    background-size: contain;
}

.js-unclickable {
    pointer-events: none;
}

.js-hidden {
    display: none;
}

/* 必须要有这个 */
.btn {
    margin-top: 8px;
    padding: 12px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 24px;
    background: rgb(26, 212, 212);
    border: none;
    cursor: pointer;
}

#newgame-container {
    margin-top: 15px;
}

footer p {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background: rgba(1, 24, 31, 0.7);
    font-size: 16px;
}


.js-pen_highLight {
    border: solid 2px red !important;
    z-index: 10;
    }
    
    .js-bear_highLight {
    border: solid 2px blue !important; 
    z-index: 10;
    }
    
    
    
    